$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

@import url(http://fonts.googleapis.com/css?family=Lancelot);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body * {
    vertical-align: top;
}
/* Space out content a bit */
body {
    padding-top: 0;
    padding-bottom: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    background: url('/images/header.png');
    height: 100px;

    img {
        display: inline-block;
        height: 90px;
        width: 225px;
    }

/* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px; 
    }

}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background: url('images/bandpic.png');
    padding: 0;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 0px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


a {
    color: white;
}

.head {
    position: relative;
    padding: 0;
}

.wesb {
    display: inline-block;
    font-family: 'Lancelot', cursive;
    font-size: 32px;
    margin-top: 20px;
    line-height: 26px;

    #west-end {
        margin-left: 12px;
        color: #645F53;
    }

    #string-band {
        color: #645F53;
    }
}

.nav li {
    margin-top: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
    display: inline-block;
    background-color: #88A7C6;
    color: #fff;
    text-decoration: underline;
}

.links {
    display: inline-block;
    margin-top: 16px;
    font-size: 18px;
    /*text-shadow: 1px 1px 1px #BAB8B8;*/

    li a {
        color: #9E998D;
        font-family: 'Linden Hill', serif;
    }

    li a:hover {
        display: inline-block;
        background: none;
        color: #9E998D;
        text-decoration: underline;
    }

}

.icons li {
    display: inline-block;
}

.facebook {
    position: absolute;
    right: 0;
    top: 55px;
}

.icons li img {
    height: 25px;
    width: 60px;
}

.bandpic {
    background: url('/images/bandpic.png') no-repeat;
    height: 400px;
    width: 960px;
}

.paper {
    display: inline-block;
    height: 200px;
    width: 200px;
    background: url("/images/bandpic.png");
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #EEE, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #EEE, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
    -webkit-transform: rotate(-17deg);
    background-size: 206px;
    background-position-x: 16px;
}

/*image layers*/
.layer-1 {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 242px;
    height: 150px;
    width: 150px;
    background: #fff;
    border: 1px solid #c1c1c1;
    -webkit-transform: rotate(-13deg);
    z-index: 5;
}

.bandpic {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 250px;
    height: 135px;
    width: 135px;
    background: url("/images/bandpic.png");
    -webkit-transform: rotate(-13deg);
    z-index: 6;
    background-size: 135px;
}

.layer-2 {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 242px;
    height: 150px;
    width: 150px; 
    background: #fff;
    border: 1px solid #c1c1c1;
    -webkit-transform: rotate(-16deg);
    z-index: 4;
}

.layer-3 {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 242px;
    height: 150px;
    width: 150px;
    background: #FFF;
    border: 1px solid #C1C1C1;
    -webkit-transform: rotate(-19deg);
    z-index: 3;
}