$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

@import 'sass-bootstrap/lib/bootstrap';

@import url(http://fonts.googleapis.com/css?family=Lancelot);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body * {
    vertical-align: top;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

}
/* Space out content a bit */
body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 1130px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 0px;
    padding-right: 0px;
}

/* Custom page header */
.header {
    background: url('/images/instruments.png')no-repeat center center;
    background-size: 100%;
    background-position: 0 -350px;
    height: 400px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    transition-properties: height;
    // transition: 500;

    // @media (max-width: 1130px){
    //       background: url('/images/instruments.jpg')no-repeat center center fixed;
    //     background-size: 100%;
    //     background-position: 0 -150px;
    //     height: 400px;
    //     width: 100%;
    //     font-family: 'Source Sans Pro', sans-serif;
    //     transition-properties: height;
    //     transition: 500;  
    // }

    // @media (max-width: 860px){
    //       background: url('/images/instruments.jpg')no-repeat center center fixed;
    //     background-size: 100%;
    //     background-position: 0 -50px;
    //     height: 400px;
    //     width: 100%;
    //     font-family: 'Source Sans Pro', sans-serif;
    //     transition-properties: height;
    //     transition: 500;  
    // }


    img {
        display: inline-block;
        height: 90px;
        width: 225px;
    }

    .overlay {
        background: rgba(171, 99, 8, 0.68);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        // @media (max-width: 770px){
        //     background: rgba(171, 99, 8, 0.68);
        //     top: 0;
        //     left: 0;
        //     height: 100%;
        //     width: 100%;
        // }
    }

/* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px; 
    }

}

.container {
    width: 960px;
    margin: 0 auto;
}
/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    background: #7E786C;
    display: block;
    height: 106px;

    .container {
        width: 600px;
    }

    h3 {
        text-align: center;
        color: #504A41;
        font-weight: 600;
        margin-top: 0;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background: url('/images/fabric/fabric.png');
    padding: 0;
    height: 100%;
    margin-bottom: 0;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 960px;
//         padding: 0;

//         @media screen and (max-width: 800px) {
//             max-width: 500px;
//         }

//         a:hover {
//             text-decoration: none;
//         }
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     /* Space out the masthead */
//     .header {
//         margin-bottom: 0px;
//     }
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//         background: url('/images/fabric/fabric.png');

//         .shows-section {
//             background: #C8C3C0;
//         }
//     }
// }
.main {
    background: url('/images/fabric/fabric.png');
}

.head {
    position: relative;
    padding: 0;
    min-width: 800px;
    height: 100%;
    text-align: center;
    color: #fff;

    h1 {
        display: inline-block;
        letter-spacing: 4px;
        font-weight: 600;
        font-size: 60px;
        position: relative;
        top: 92px;
        line-height: 54px;
    }

    h4 {
        position: absolute;
        right: 0;
        top: 30px;
        font-size: 20px;
        letter-spacing: 0px;
        display: inline-block;
        font-family: cursive; 
    }  
}

.wesb {
    display: inline-block;
    font-family: 'Lancelot', cursive;
    font-size: 32px;
    margin-top: 20px;
    line-height: 26px;

    #west-end {
        margin-left: 12px;
        color: #645F53;
    }

    #string-band {
        color: #645F53;
    }
}

.nav li {
    margin-top: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
    display: inline-block;
    background-color: #88A7C6;
    color: #fff;
    text-decoration: underline;
}

.nav-items{
    padding-top: 20px;

    ul{
        margin-top: 15px;
        list-style-type: none;
        font-size: 18px;

        li {
            display: inline-block;
            font-family: 'Source Sans Pro', sans-serif;
        
            a {
                color: #FFF;
                margin-right: 35px;
                font-weight: 600;
                margin-left: 35px;
            }

            a:hover {
                display: inline-block;
                background: none;
                color: #fff;
                text-decoration: underline;
            }
        }
    }

}




.bandpic {
    background: url('/images/bandpic.png') no-repeat;
    height: 400px;
    width: 960px;
}

.paper {
    display: inline-block;
    height: 200px;
    width: 200px;
    background: url("/images/bandpic.png");
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #EEE, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #EEE, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
    -webkit-transform: rotate(-17deg);
    background-size: 206px;
    background-position-x: 16px;
}

/*image layers*/
.frame {
    display: inline-block;
    height: 300px;
    width: 300px;
    position: relative;
}

.layer-1 {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    height: 350px;
    width: 312px;
    background: #fff;
    border: 1px solid #c1c1c1;
    // -webkit-transform: rotate(-13deg);
    z-index: 5;
}

.bandpic {
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 11px;
    height: 330px;
    width: 290px;
    border-radius: 2px;
    border: 1px solid #B4B4B4;
    background: url("/images/bandpic.png");
    z-index: 6;
    background-size: 300px;
}


.container p {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    line-height: 24px;
}

.container #find {
    color: #635D53;
}

.group-pic {
    float: right;
    height: 300px;
    width: 250px;   
}

.band {
    display: inline-block;
    position: relative;
    height: 350px;
    width: 300px;
    float: left;
    margin-top: 88px;
    left: -10px;
    margin-right: 18px;
    margin-left: 10px;
}

.bio {
    display: inline-block;
    margin-top: 22px;
    margin-left: 15px;
    // height: 500px;
    // width: 600px;
    text-align: left;

    h2 {
        color: #7C7668;
        font-weight: 600;
        position: relative;
        top: 40px;
        letter-spacing: 2px;
    }

    p {
        color: #7c7668;
        font-weight: 400;
        position: relative;
        top: 4px;
        line-height: 26px;
        margin-bottom: 65px;
    }
}

.shows-section, .connect {
    padding-top: 45px;
    background: #E6E6E6;
    padding-bottom: 80px;

    h2, p {
        margin-top: 20px;
        color: #7c7668;
        font-weight: 600;
    }

    a:hover {
        text-decoration: none;
    }
}

.shows {
    // border: 1px solid red;
    width: 60%;
    margin: 0 auto;

    h3 {
        width: 100%;
    }

    ul {
        padding-left: 0;
    
        li {
            display: block;
            margin: 0 auto;
            padding-top: 8px;
            width: 625px;
            text-align: left;
            border-bottom: 1.8px dashed #838383;
            list-style-type: none;


            h3 {
                display: inline-block;
                font-size: 20px; 
                color: #7C7668;
                width: 75px;
                margin-top: 9px;
                text-align: left;
            }

            span {
                color: #B78139;
                font-size: 18px;
                font-weight: 600;
                margin-right: 10px;
            }

            .pull-right {
                color: #7C7668;
            }

        }
    }
}

// connect section 

.connect {
    height: 325px;
    background: #A79E8D;
    padding-bottom: 40px;
    padding-top: 60px;
}

.icons {


    position: relative;
    margin-top: 28px;
    padding: 0;
    // -webkit-filter: grayscale(0.7);

    a:hover {
        cursor: pointer;
        text-decoration: none;
    }

    li {
        display: inline-block;

        div {
            margin: 0px 15px;
        }
       
        .fb {
            border-radius: 2px;
            border: 4px solid #808080;
            height: 90px;
            width: 90px;
            background: url("/images/fb.png");
            background-size: 119%;
            background-position: -8px -9px;
        } 
    
        .gig-salad {
            border-radius: 2px;
            border: 4px solid #808080;
            height: 90px;
            width: 90px;
            background: url("/images/gigsalad.png");
            background-size: 143%;
            background-position: -17px -10px;
        }
    
        .gig-masters {
            border-radius: 2px;
            border: 4px solid #808080;
            height: 90px;
            width: 90px;
            background: url("/images/gigmasters.png");
            background-size: 101%;
            background-position: 1px 0px;
        }

        .cd-baby{
            border-radius: 2px;
            border: 4px solid #808080;
            height: 90px;
            width: 90px;
            background: url("/images/cdbaby.png");
            background-size: 106%;
            background-position: -3px -3px;
        }

        .reverb {
            border-radius: 2px;
            border: 4px solid #808080;
            height: 90px;
            width: 90px;
            background: url('/images/rn.png');
            background-size: 119%;
            background-position: -8px -8px;
        }

    }
}

.icons-overlay {
    background: rgba(213, 188, 156, 0.87);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.ww {
    border-radius: 14px;  
}

.facebook {
    position: absolute;
    right: 0;
    top: 55px;
}

.livestream {
    background: url("../images/livestream.png");
    height: 30px;
    width: 140px;
    display: inline-block;
    background-size: 138px;
    background-position: 6px 0px;
    float: right;
    position: relative;
    bottom: 4px;
    margin-left: 60px;
}

.info {
    display: inline-block;
    color: #E5E2DC;
    list-style-type: none;
    padding-left: 0;
    width: 600px;    

    li {
        display: inline-block;
        font-size: 18px;
        margin-top: 8px;
    }


    a{
        color: #E5E2DC; 
        text-decoration: none; 
    }   
    
    .contact-text {
        margin-top: 10px;
    }

    .ss-mail {
        display: inline-block;
        color: #D4CCBE;
        font-size: 28px;
    }
    
    .ss-phone {
        display: inline-block;
        display: inline-block;
        color: #D4CCBE;
        font-size: 28px;
        margin-left: 86px;
    }

}


.cd-cover {
    float: right;
    margin-left: 30px;
}


